html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0; padding: 0; border: 0;
    font-family: Verdana, Arial, sans-serif;
    font-size: 1rem; line-height: 1.25rem;
    background-color: #FFFFED;
}

#top-header {
    padding: 4px 0 4px 0;
    width: 100%;
    min-height: 25px;
    background-color: #999966;
}

nav {
    padding: 4px 1px 4px 1px;
    background-color: #996633;
    width: 20%;
    min-height: 85%;
    float: left;
}

main {
    width: 75%;
    min-height: 85%;
    float: right;
}

footer {
    width: 100%;
    text-align: center;
    clear: both;
}